# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Verification settings
--tb_files=$RDA_TESTBENCH_FILE
--tb_module_name=testbench
--tb_language=$RDA_TB_LANGUAGE
--verification::enable=true
--verification::auto_load_sc_adaptors=true
--verification::stop_on_failure=true
#--verification::enable_waveform_dumping=true
--vcs::enable=true
--vcs::systemc_driver_bin=None
--vcs::simulation_pass_string=TESTBENCH PASS
