*slec*
*.log
*.log-*
*.log_*
*ucli.key
*design_checker*tcl
*Catapult*
*.ccs
*.pinfo
*.output.json
*.csv
catapult_cache
*.vcd
*rda_generated*
*simv_elab*
*AN.DB*
*csrc*
*.vscode*
*.rda*
*simv*
*txt
*json
*dat
*fsdb
testbench_rda.cpp
channel.txt
